html,
body {
    /* background-image: url("/assets/Awesome-background-with-words-quotes.jpg"); */
    background-color: white;
    /* background-position: 0% 9%; */
    background-size: cover;
    background-repeat: no-repeat;
}

.bdrzoom:hover {
    transition: .5s ease;
    background-color: red;
    cursor: pointer;
    padding: 5px;
}

.h6 {
    cursor: pointer;
}

.modal-dialog {
    max-width: 80%;
}

.fix-di-atas {
    z-index: 100;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

li {
    list-style: none;
}

.nav-item button {
    background-color: transparent;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.navi {
    color: white;
    outline: none !important;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none !important;
    color: inherit;
}

button:active {
    outline: none !important;
    /* border: none; */
}

.navbar {
    background-color: red !important;
    flex-wrap: unset;
}

.navbar-nav {
    flex-direction: inherit !important;
}

.input-group-text {
    background-color: white !important;
}

.overlay:hover {
    opacity: 1;
}

.overlay {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    margin: auto;
    left: 24px;
    cursor: pointer;
}

.overlayObj {
    /* position: absolute; */
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* cursor: pointer; */
}

.bdr {
    transition: .5s ease;
    cursor: pointer;
}

.col:hover .bdr {
    box-shadow: 0 4px 8px gray;
}


/* informasi */

.shdfoot {
    width: 80%;
    position: absolute;
    z-index: 20;
    margin: 10% 0% -9% 10%;
    bottom: 0;
    box-shadow: 0 4px 8px gray;
}

.subscribe-wrapper {
    overflow: hidden;
}


/* email subscribe */

.subscribe2-wrapper .subscribe-form input {
    right: 1.5vw;
    top: 3.2vw;
    height: 3.5vw;
    box-shadow: 0 4px 4px gray;
    background-color: white;
    border: 1px solid #fff;
    border-radius: 30px;
    color: rgb(130, 130, 130);
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    padding-left: 35px;
    width: 40vw;
    cursor: text;
    z-index: 10;
    position: absolute;
}

.subscribe2-wrapper .subscribe-form button {
    right: 1.5vw;
    top: 3.2vw;
    background-color: rgb(0, 166, 80);
    color: white;
    border: none;
    border-radius: 30px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    height: 3.5vw;
    width: 15vw;
    cursor: pointer;
    z-index: 20;
    position: absolute;
}

.semo {
    display: flex;
}